
<head>
 <title>Handy Tools</title>
  
<style type="text/css"> 
 
    #wrap{ 
      width:60%;
      margin-left:auto;
       margin-right:auto;
}
.myClass{
color:black;
}
#head{
background-color:red;
border:2px solid black;
}
body{
background-color:#666;
}
#content{
 
background-color:#FFFFFF;
height:90%;
border:2px solid black;
 
}
 
</style>

 
</head>

<body>
		<h2>Handy Tools</h2>
	                    <div id="wrap">
              		     <div id= "head">
				<h1>Handy Tools</h1>
                             </div>
                      
                              <div id="content">
                                <h2 class = "myClass">Make Reservation</h2>

            Starting Date:
		<br/>
		<input type="text" name="start_date" id="start_date" value=''/>
		<br/>
	        <br/>
			Ending Date:
 		  <br/> 
	 	 <input type="text" name="end_date" id="end_date" value='' />
		<br/>
	        <br/>
        Type of Tool:
		<br/>
		<select id="tool_dropdown">
				<option value="" name= "">Select Tool</option>
  	          	 <option value="P" name= "tool_type">Power tool</option>
                 <option value="H" name= "tool_type">Hand tool</option>
                 <option value="C" name= "tool_type">Construction tool</option>
		</select> 
		  		<br/>
                <br/>
         Tools Available
                <br/>
			    <br/>
			  <input type = "text" id="tool_id" readonly/>
			 
			    <select id="tools_available"></select>
             <!-- <input type = "text" name="available" value=$toolsavailable. /> -->
                  <input type = "text" id="tool_rental_price" readonly/>
			   <br/>
			    <br/>  
            <button type="submit" id="add_more_tools" method= "post" value=''>Add More Tools</button> 
	     	<br/>
	        <br/>
		      <button type="submit" id="remove_last_tool" value=''>Remove Last Tool</button>  
		   <br/>
	        <br/> 
		     <button type = "button" id="submit_calculate_total"  method = "post" value=''>Calculate Total</button>
			  <br/> 
			  
            	 <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script type="text/javascript" src="resources/js/bootstrap.min.js"></script>
    <script type="text/javascript">
    
		   
    $('#tool_dropdown').on('change', function(){
    	$('#tools_available').empty()
		$('#tool_rental_price').empty()
    	tool = $('#tool_dropdown option:selected').val()
    	Start_date = $('#start_date').val()
    	End_date = $('#end_date').val()
           
    	$.ajax({
	    	'url': 'PHPFunctions/functions.php?method=getAvailableTools',
			'data': {'tool_type': tool, 'Start_date': Start_date, 'End_date': End_date},
	    		'success':function(data){
                   	$.each(JSON.parse(data), function(index, element){
	    			$('#tools_available').append($("<option></option>").attr("value",element.id).text((element.description),(element.rentalprice)));
					
					var dataholder = JSON.parse(data);	
                    $('#tool_id').val(dataholder[0]['id']);					
     			    $('#tool_rental_price').val(dataholder[0]['rentalprice']);
				    })
	    	}
	    })
    })  

  
	
	$('#submit_calculate_total').click(function(){
	 
	    if ($('#start_date').val().length > 0 && $('#end_date').val().length > 0 ){
	         var Start_date = $('#start_date').val();
			 var End_date   = $('#end_date').val();
			 tool = $('#tools_available option:selected').text()
			 var tool_id = $('#tool_id').val()
    	
			 $.ajax({
			    'url' : 'PHPFunctions/functions.php?method=getCalcTotal',
				'data' : {'start_date': Start_date, 'end_date' : End_date, 'tool' : tool, 'tool_id':tool_id},
				'success' :function(data){
				    console.log(data)
		            window.location.href = "ReservationSummary.html"                      
				   }
				   
				   })
				}
			 });
			  

			 
	         
    </script>
    
</body>	    	
</html>