
<head>
 <title>Handy Tools</title>
  
<style type="text/css"> 
 
    #wrap{ 
      width:60%;
      margin-left:auto;
       margin-right:auto;
}
.myClass{
color:black;
}
#head{
background-color:red;
border:2px solid black;
}
body{
background-color:#666;
}
#content{
 
background-color:#FFFFFF;
height:90%;
border:2px solid black;
 
}
 
</style>

 
</head>

<body>
		<h2>Handy Tools</h2>
	                    <div id="wrap">
              		     <div id= "head">
				<h1>Handy Tools</h1>
                             </div>
                      
                              <div id="content">
                                <h2 class = "myClass">Make Reservation</h2>

             <form action="MakeReservation.php" method="post">	
		Starting Date:
                   <br/>
		<input type="text" name="start" id="start_date" value="MMDDYYYY"/>
		<br/>
	        <br/>
		  Ending Date:
 		  <br/> 
	 	 <input type="text" name="end" id="end_date" value="MMDDYYYY" />
		<br/>
	        <br/>
        Type of Tool:
		<br/>
		<form action="makeReservation.php" method="post">
		<select id="tool_dropdown">
				<option value="" name= "">Select Tool</option>
  	          	 <option value="P" name= "tool_type">Power tool</option>
                 <option value="H" name= "tool_type">Hand tool</option>
                 <option value="C" name= "tool_type">Construction tool</option>
		</select> 
		  		<br/>
                <br/>
         Tools Available
                <br/>
			    <br/>
			    <select id="tools_available"></select>
             <!-- <input type = "text" name="available" value=$toolsavailable. /> -->
                 <br/>
			    <br/>
		<input type="submit" name="AddMoreTools" value="Add More Tools"  />
		<br/>
	        <br/>
		<input type="submit" name="RemoveLastTool" value="Remove Last Tool"  />
		<br/>
	        <br/>
		<input type="submit" name="Calculate Total" value="Calculate Total"  />
		<br/>
		
	 	
	 </form>
             	 <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script type="text/javascript" src="resources/js/bootstrap.min.js"></script>
    <script type="text/javascript">

    $('#tool_dropdown').on('change', function(){
    	$('#tools_available').empty()
    	tool = $('#tool_dropdown option:selected').val()
    	Start_date = $('#start_date').val()
    	End_date = $('#end_date').val()

    	$.ajax({
	    	'url': 'PHPFunctions/functions.php?method=getAvailbaleTools',
			'data': {'tool_type': tool, 'Start_date': Start_date, 'End_date': End_date},
	    	'success':function(data){
	    		$.each(JSON.parse(data), function(index, element){
	    			$('#tools_available').append($("<option></option>").attr("value",element.id).text(element.description)); 
	    		})
	    	}
	    })
    })

    
    </script>
    
</body>	    	
</html>