
<head>
 <title>Reservation Final</title>
  
<style type="text/css"> 
 
    #wrap{ 
      width:60%;
      margin-left:auto;
       margin-right:auto;
}
.myClass{
color:black;
}
#head{
background-color:red;
border:2px solid black;

}
body{
background-color:#666;

}
#content{
 
background-color:#FFFFFF;
height:90%;
border:2px solid black;
 
}
 
</style>

 
</head>

<body>
		<h2>Handy Tools</h2>
	                    <div id="wrap">
              		     <div id= "head">
				<h1>Reservation Summary</h1>
                              </div>
                               <div id="content">
                                <h2 class = "myClass">Your Reservation Number is</h2>
                                   : <span id="deposit_error" style="color:red"></span><input type="text" step="2" id="res_num" class="form-control" name="Reservation number"readonly/>
                                 <br/>
                                <h2 class = "myClass">Tools Desired</h2>
         	<!-- <form method="post" /> -->
       <label>Tool Description: <span id="abbr_desc_error" style="color:red"></span></label><input type="text" id="tool" class="form-control" name="Description" readonly/>
         <br/>
	        <br/>
		 Start Date      : <span id="deposit_error" style="color:red"></span><input type="text" step="2" id="start_date" class="form-control" name="Start Date"readonly/>
         <br/>
	        <br/>
		 End Date    : <span id="purch_price_error" style="color:red"></span><input type="text" step="2" id="end_date" class="form-control" name="End Date"readonly/>
		 <br/>
	        <br/>
         Rental Price (Per day) : <span id="rent_price_error" style="color:red"></span><input type="text" step="2" id="rental_cost" class="form-control" name="Rental cost"readonly/>
		 <br/>
	        <br/>
         Purchase Price         : <span id="purch_price_error" style="color:red"></span><input type="text" step="2" id="dep_amt" class="form-control" name="Deposit_amt"readonly/>
           <br/>
	        <br/>
	       	<button type = "submit" id="back_to_main_submit"  method = "post"  name = "Backtomainmenu" >Back to Main Menu</button> 
        <br/>
		<br/>
		
	         	 
	 </div>

        </div>	 
	 </div>

        </div>			   
		
   <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script type="text/javascript" src="resources/js/bootstrap.min.js"></script>
    <script type="text/javascript">

 $(document).ready(function(){
		$.ajax({
			    'url' : 'PHPFunctions/functions.php?method=displayFinalReservationData', 
				'success' :function(data){
	             var dataholder = JSON.parse(data);		 
     			 console.log(dataholder);
				 
				 $('#tool').val(dataholder[0]['tool']);
				 $('#start_date').val(dataholder[0]['startDate']);
				 $('#end_date').val(dataholder[0]['endDate']);
				 $('#rental_cost').val(dataholder[0]['rentalCost']);
				 $('#dep_amt').val(dataholder[0]['depositAmount']);
				 $('#res_num').val(dataholder[0]['reservation_num']);
				}
		     
	 })
	})

 
 
 $('#back_to_main_submit').click(function(){

	            window.location.href = "CustomerMainMenu.html";	
     				})  


</script>
</body>
                     
</html>			
	   