

<head>
<title>Clerk Main Menu</title>

<style type="text/css">

#wrap{
width:60%;
margin-left:auto;
margin-right:auto;
}
.myClass{
	color:black;
}
#head{
background-color:red;
border:2px solid black;

}
body{
	background-color:#666;

}
#content{

background-color:#FFFFFF;
height:90%;
border:2px solid black;

}

</style>


</head>

<body>
<h2>Clerk Main Menu</h2>
<div id="wrap">
<div id= "head">
<h1>Handy Tools</h1>
</div>

<div id="content">
<h2 class = "myClass">Main Menu</h2>

<!-- <form > -->

		<br/>
		<input id="pick_up" type="submit" name="Pickup" value="Pick-Up Reservation"> 
		<br/>
		<br/>
		<input id="drop_off" type="submit" name="Dropoff" 
                 value="Drop-Off Reservation">   
		<br/>
		<br/>
		<input id="service_order" type="submit" name="SeviceOrder" 
                 value="Service Order">   
		<br/>
		<br/>
		<input id="add_new_tool" type="submit" name="AddNewTool" 
                 value="Add New Tool">   
		<br/>
		<br/>
		<input id="sell_tool" type="submit" name="SellTool" 
                 value="Sell Tool">   
		<br/>
		<br/>
                <input id="reports" type="submit" name="Generate Reports" 
                 value="Generate Reports">   
		<br/>
		<br/>
                <button type="button" name="next" id="sign_out">Exit</button>
		<br/>
	 <!-- </form> -->
		 
	 </div>

		</div>

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
		<script type="text/javascript">
		$('#sign_out').click(function(){
			$.ajax({
		        'url' : '../PHPFunctions/functions.php?method=logout',
		        'success': function(data){
		        	console.log(data)
		           	if(data == 'Success')
		           		window.location.href = "http://localhost/handyman_tools/";
		        },
		        'error':function(data){
		            console.log(data)
		        }
		    })
		})

		$('#pick_up').click(function(){
			window.location.href = "http://localhost/handyman_tools/huy_pickup.html";
		})

		$('#drop_off').click(function(){
			window.location.href = "http://localhost/handyman_tools/huy_drop_off.html";
		})


		$('#service_order').click(function(){
			window.location.href = "http://localhost/handyman_tools/form_add_service_order_html.html";
		})

		$('#add_new_tool').click(function(){
			window.location.href = "http://localhost/handyman_tools/form_add_tool_html.html";
		})

		$('#sell_tool').click(function(){
			// window.location.href = "http://localhost/handyman_tools/form_add_service_order_html.html";
		})

		$('#reports').click(function(){
			// window.location.href = "http://localhost/handyman_tools/form_add_service_order_html.html";
		})
		</script>
