<head>
 <title>Handy Tools</title>
  
<style type="text/css"> 
 
    #wrap{ 
      width:60%;
      margin-left:auto;
       margin-right:auto;
}
.myClass{
color:black;
}
#head{
background-color:red;
border:2px solid black;

}
body{
background-color:#666;

}
#content{
 
background-color:#FFFFFF;
height:90%;
border:2px solid black;
 
}
 
</style>

 
</head>

<body>
		<h2>Handy Tools</h2>
	                    <div id="wrap">
              		     <div id= "head">
				<h1>Handy Tools</h1>
                             </div>
                      
                              <div id="content">
                                <h2 class = "myClass">Make Reservation</h2>

             <form action="$_SERVER['PHP_SELF']" method="GET">	
		Starting Date:
                   <br/>
		<input type="text" name="start" value=""  />
		<br/>
	        <br/>
		  Ending Date:
 		  <br/> 
	 	 <input type="text" name="end" value="" />
		<br/>
	        <br/>
                 Type of Tool:
		<br/>
		<select>
  		 <option>Power Tools</option>
		</select> 
		<br/>
                <br/>
		Tool:
		<br/>
		<select>
  		 <option>Tool Inventory</option>
		</select> 
                <br/>
                <br/>
		<input type="submit" name="AddMoreTools" value="Add More Tools"  />
		<br/>
	        <br/>
		<input type="submit" name="RemoveLastTool" value="Remove Last Tool"  />
		<br/>
	        <br/>
		<input type="submit" name="Calculate Total" value="Calculate Total"  />
		<br/>
		
	 	
	 </form>
             	 
	    	
</html>