
<head>
 <title>Reservation  Summary</title>
  
<style type="text/css"> 
 
    #wrap{ 
      width:60%;
      margin-left:auto;
       margin-right:auto;
}
.myClass{
color:black;
}
#head{
background-color:red;
border:2px solid black;

}
body{
background-color:#666;

}
#content{
 
background-color:#FFFFFF;
height:90%;
border:2px solid black;
 
}
 
</style>

 
</head>

<body>
		<h2>Handy Tools</h2>
	                    <div id="wrap">
              		     <div id= "head">
				<h1>Reservation Summary</h1>
                             </div>
                      
                              <div id="content">
                                <h2 class = "myClass">Tools Desired</h2>

             <form action="$_SERVER['PHP_SELF']" method="GET">	
		1.
                2. 
                   <br/>
		   <br/>
	        Start Date
 		  <br/>
	 	 <input type="text" name="start" value="MMDDYYYY" />
		 <br/>
	         <br/>
	        End Date
		<br/>
		<input type="text" name="end" value="MMDDYYYY" />
		<br/>
	        <br/>
                Total Rental Price 
		<br/>
                <input type="text" name="rentalprice" value="$xxxxxx" />
		<br/>
	        <br/>
                Total Deposit Price
	        <br/>
                <input type="text" name="depositprice" value="$xxxxxx" />
		<br/>
	        <br/>
		<input type="submit" name="submit" value="Submit"  />
 		<br/>
		<br/>
		<input type="submit" name="reset" value="Reset"  />
 		<br/>
		<br/>
	 	
	 </form>
             	 
	 </div>

        </div>			   
		

</body>
                     
</html>